:root {
  --app-content-padding: 20px;
  --app-content-bg-color: #343541;
  --el-header-height: 60px;
  --el-header-padding: 10px;
  --el-aside-width: 200px;
  --el-footer-height: 30px;
  --left-menu-max-width: 200px;
  --left-menu-bg-color: #202123;
}
